# Application
web/app/plugins/*
web/app/upgrade
web/app/uploads/*
web/app/themes/genesis

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Vagrant
bin
.vagrant
/.idea/
/npm-debug.log
